@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font: 14px/1.6 "굴림", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    /* width:100%; */
    vertical-align: top;
}


/* typo */
body {
    font: 14px/1.6 "굴림", sans-serif;
    background: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/* container */
.container {
    display: flex;
}

/* style */
/* header */
header {
    position:relative;
    width: 200px;
    height: 850px;
    padding: 20px;
    background: rgba(40, 119, 90, 0.5);
}

/* 로고 */
.logo {
    text-align:center;
    height: 100px;
    padding: 30px 0 80px;
}
/* 내비게이션 */
nav {
    position:relative;
    width:160px;
}
/* 메인메뉴: 1depth */
.main > li > a {
    display:block;
    border-bottom: 1px solid #fff;
    font-size:16px;
    font-weight:bold;
    padding-left:16px;
}
.main > li > a:hover {
    background: #999;
    color: #fff;
}
.main > li:hover .sub {
    visibility:visible;
    opacity:1;
    height:200px;
}
/* 서브메뉴: 2depth */
.sub {
    visibility:hidden;
    opacity:0;
    height:0;
    transition: .3s ease-out;
}
.sub li:first-child{
    margin-top: 16px;
}
.sub li {
    padding-left:16px;
    margin-bottom:8px;
}
.sub a {
    padding: 4px 16px;
    color:#000;
}
.sub a:hover {
    background: #999;
    color:#fff;
}
/* 로그인/회원가입 */
.member {
    position:absolute;
    width:100%;
    left:0;
    text-align:center;
    bottom:320px;
}

/* contents */
.contents {
    /* 연산자 좌우는 띄어쓰기 해야함 */
    width: calc(100% - 200px);
}

/* 슬라이드 */
.slide {
    position: relative;
    width: 838px;
    height: 400px;
    overflow: hidden;
    background: rgba(134, 200, 91, 0.5);
}
.slide ul {
    position: absolute;
    left: 0;
    top: 0;
    /* 캐러셀 이미지 4장이니까 400% */
    width: 400%;
    height: 100%;
    animation: slide 9s infinite;
}
@keyframes slide {
    0% {left:0;}
    5% {left:-100%;}
    33.33% {left:-100%;}
    38% {left:-200%;}
    66.66% {left:-200%;}
    71% {left:-300%;}
    99.99% {left:-300%;}
    100% {left:0;}
}
.slide li {
    float:left;
    /* ul에서 400퍼 했으니까 장당 25퍼로 다시 100퍼 맞추기 */
    width:25%;
    height:100%;
}

/* 배너 */
.banner {
    display: flex;
    height: 200px;
    background: rgba(66, 191, 64, 0.5);
}
.banner div{
    display:flex;
}
.banner img {
    width:100px;
}

/* 공지사항/갤러리 */
/* tabs */
.tabs {
    height: 250px;
    background: rgba(60, 180, 84, 0.5);
    position: relative;
    /* left: 50px; */
    /* top: 50px; */
    width: calc(100% - 200px);
}

/* tabs button */
.tabs label {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    float: left;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    padding: 5px 15px;
    background: #333;
    color: #fff;
}

.tabs label:first-of-type {
    margin-left: 80px;
}

.tabs label:last-of-type {
    border-right: 1px solid #333;
}

.tabs input {
    display: none;
}

/* .tabs input:checked */
.tabs input:checked+div+label {
    background: #fff;
    color: #333;
}

/* tabs contents */
.tabs div {
    position: absolute;
    width: calc(100% - 100px);
    left: 50px;
    top: 52px;
    border: 1px solid #333;
    padding: 15px;
    background: #fff;
    display: none;
    line-height: 2.5;
}

.tabs input:checked+div {
    display: block;
}

.tabs .tab1 li {
    border-bottom: 1px solid #ccc;
    margin: 0 32px;
}

.tabs .tab1 span {
    display: inline-block;
    width: calc(100% - 200px);
}

.tabs .tab2 a {
    margin: 0 8px;
}


/* footer */
footer {
    display:flex;
    align-items: center;
    height: 100px;
    background: rgba(42, 126, 55, 0.5);
}

/* 하단로고 */
.b_logo {
    flex: 0 0 200px;
    padding: 0 20px;
}
/* 주소/저작권 */
.addr {
    width:calc(100% - 500px);
    padding: 0 50px;
}
/* SNS */
.sns {
    width: 300px;
}
.sns img {
    width:30px;
    margin: 0 8px;
}