@charset "UTF-8";

.alertForm {
    box-sizing:border-box;
    display:inline-block;
    height:24px;
    width:240px;
}

.alert {
    box-sizing:border-box;
    text-align:center;
    width:320px;
    height:30px;
    line-height:30px;
    border-radius: 4px;
    background-color: aquamarine;
    display:none;
}

.alert2 {
    box-sizing:border-box;
    text-align:center;
    width:320px;
    height:auto;
    line-height:30px;
    border-radius: 4px;
    background-color: palegreen;
    display:none;
}

.alert3 {
    box-sizing:border-box;
    text-align:center;
    width:320px;
    height:auto;
    line-height:30px;
    border-radius: 4px;
    background-color: palegoldenrod;
    display:none;
}