/* 초기화 */
* {
    box-sizing: border-box;
    /* outline: 1px solid green; */
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #777;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: top;
}

button {
    font-size: 1.5rem;
    color: #000;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

address {
    font-style: normal;
}

/* 타이포 */
html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Lato', 'Noto Sans KR', sans-serif;
    color: #777;
    line-height: 1.8;
}

h1 {
    font-size: 2.4rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h2 {
    font-size: 3.6rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    color: #777;
    text-align: center;
}


h4 {
    font-size: 1.8rem;
    color: #777;
    text-align: center;
}

a {
    font-size: 1.5rem;
    color: #777;
}

button {
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    border: none;
}

button:hover {
    font-size: 1.5rem;
    color: #000;
}

.pf3 span {
    font-size: 24px;
}

address {
    font-size: 1.8rem;
}

em {
    text-align: center;
}

.skill p {
    letter-spacing: 10px;
}
